.adminLoginBox {
    margin: 140px 0px;
    justify-content: center;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.titleLogin {
    color: #FA4A0C;
    font-size: 28px;
    text-align: center;
    font-weight: 600;
    margin: 0px auto
}
.colInLoginBox {
    margin: 50px 0px;
}